.cart {
    background-image: url(../images/adf.jpg);
    height: 45vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cart h1 {
    font-family: 'Rancho', cursive;
    font-size: 80px;
    padding-top: 30px;
}

.cart-payment{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cart-box {
    width: 100%;
    height: 88px;
    background: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(174, 171, 171, 0.25);
    border-radius: 10px;
    margin: 10px 0px;
}