* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    scrollbar-width: inherit;
}


h1,
h2,
h3,
h4,
h6,
p {
    color: #47485E;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

button {
    border: 0;
    outline: none;
}

button:focus {
    outline: none;
}

.navbar-brand img {
    width: 130px;
}

.navbar {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 999;
}

.navbar-nav {
    margin-left: 20px;

}

.nav-item {
    padding-left: 20px;
}

.nav-link {
    font-size: 18px;
    font-weight: 500;
}

.nav-link:hover,
.active {
    color: #F7B31C !important;
}

.soc-icon {
    width: 17px !important;
}

.btn-style {
    width: 236px;
    height: 58px;
    background: #f7b31c;
    box-shadow: 0px 4px 4px rgba(154, 150, 150, 0.25);
    border-radius: 10px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    margin-left: 70px;
    cursor: pointer;
    position: relative;
}

.con {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.bricks{
    width: 300px;
    height: 300px;
}

.top {
    margin-left: 70px;
}

.btn-style span {
    position: absolute;
    width: 236px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(154, 150, 150, 0.25);
    border-radius: 10px;
    border: 1px solid #47485E;
    outline: none;
    transform: rotate(-2deg);
}

.btn-style:hover {
    background: transparent;
    border: 1px solid #47485E;
}

.btn-style span:hover {
    background: #f7b31c;
    border: none;
}

.section-head {
    margin: 50px 0px;
    text-align: center;
    font-size: 30px;

}

.section-part span {
    background-color: #F7B31C;
    height: 20px;
    width: 70px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* --bg page start-- */
.home {
    background-image: url(../images/new-images/bg-foodon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.mob-content {
    display: none;
}

.titl {
    font-size: 40px;
    font-weight: 700;
    margin-top: 30px;
}

.main-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

.text-bg {
    color: #F7B31C;
}

.main-text {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 450;
}

.yellow-shape img {
    width: 180px;

}

#carousel-slider {
    display: flex;
    align-items: center;
}



/* --bg page end-- */

/* --how-it-works */
.how-its-works {
    height: auto;
    width: 100%;
    background-image: url('../images/new-images/cardia.png');
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: left;
    margin-top: 0;
}

.mob-works {
    display: none;
}

.how-its-works {
    display: block;
}

.cfg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title {
    font-size: 40px;
    font-weight: 500;
    animation: bounce;
    animation-duration: 2s;
}

.part-2 {
    padding: 0px 60px;

}

.numbers {
    font-size: 60px;
    font-weight: 700;
    color: #FFE7AA;

}

.arrows img {
    width: 200px;
}

.cook {
    width: 550px;
}

/* --how-it-works */

/* --sfgvse */
.reveal {
    position: relative;
    opacity: 0;
    display: flex;
    align-items: center;

}

.reveal.active {
    opacity: 1;
}

.active.fade-bottom {
    animation: fade-bottom 1s ease-in;
}

.active.fade-left {
    animation: fade-left 1s ease-in;
}

.active.fade-right {
    animation: fade-right 1s ease-in;
}

@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* revel */
/* --main content start */
.main-content {
    background-image: url(../images/new-images/sec-bg.png);
    background-size: 250px;
    background-position: left;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    align-items: center;
    height: 70vh;
}

.sect {
    font-size: 34px;
    font-weight: 650;
}

.main-text {
    font-size: 22px;
}

/* --main content end */
/* --benfits start */
.benefits {
    background-color: #FDF2DE;
    width: 100%;
    height: auto;
    padding: 46px 0px
}

.box-benefits {
    width: 206px;
    height: 227.38px;
    position: relative;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 8px 16px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.ones img {
    width: 40px;
    margin-left: -30px;

}

.img-one {
    width: 40px;
    margin-right: -160px;

}

.circl {
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    color: white;
    font-size: 14px;
    font-weight: 400;
}


.ones {
    margin: 10px 0px;
    padding: 10px 0px;
    color: #47485E;
    font-size: 16px;
}

.text-d {
    color: #47485E !important
}



/* --benfits end */


/* --menus-start */
.menus {
    height: 100vh;
}

.menu-bg {
    background-image: url(../images/ram.jpg);
    width: 100%;
    height: 45vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: -16px;
}

.mcard {
    width: 100%;
    height: 300px;
    /* background-color: #F7B31C; */
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 30px;

}

.card-img {
    width: 100%;
}

.card-img img {
    width: 100%;
    height: 100%;
    /* border-top-right-radius: 20px;
    border-top-left-radius: ; */


}

.right-content {
    margin-top: 30px;
}

.carousel-slider1 {
    margin: 0px 10px;
}

.arrow-right {
    width: 20px;
    height: 20px;
    margin: 0px 5px;
}

/* --menus-end */
.benefits-change-mob {
    display: none !important;
}

.benefits-change {
    display: block;

}

.menu-carousel {
    display: block;
}

.mob-menu-carousel {
    display: none !important;
}

.menusd {
    margin: 100px 0px;
}

/* ---apps start */
.app-bg {
    width: 100%;
    height: 408px;
    margin-bottom: 60px;
    margin-top: 200px;
    background: #FFE180;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px 0px 40px 40px;
}

.mob {
    width: 100%;
    height: 400px;
    margin-top: -100px;
}

.app-texts {
    display: flex;
    margin: 0px 40px;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.app-texts {
    font-size: 20px;
}

.app-texts h2 {
    font-size: 40px;
}

.m-text {
    margin-top: 40px;
}

.playstore {
    margin-top: -30px;
    width: 100%;
    height: 100%;
}

.playstore-img {
    margin-top: -30px;
    width: 221px !important;
    height: 92px !important;
}

/* ---apps end */

/* --footer start */
.footer {
    background-image: url(../images/new-images/footer-bg.jpg);
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.foot-list {
    padding: 30px 0px;
}

.foot-list h6 {
    font-size: 20px;
    color: #fff;
}

.foot-link li {
    padding: 10px 0px;
    color: #fff;
}

.foot-link li a {
    text-decoration: none;
    color: #fff;
}

.footer-form input {
    width: 333px;
    height: 63px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 0px 10px;

}

.footer-form input:focus {
    outline: none;
}
.cart-home{
    display: none;
}
.under{
    display: block;
    width: 100%;
    height: 100vh;
  
}
.first-crl {
    z-index: 999;
    position: relative;
    position: fixed;
}
.first-crl img{
    width: 30px;
    height: 30px;
    background-color: #f7b31c;
    position: absolute;
}

/* --footer end */