.login{
 background-image: url(../images/dsf.png);
 box-shadow: 0px 4px 4px rgba(154, 150, 150, 0.25);
 border-radius: 10px;
 width: 100%;
 height: fit-content;
 background-position: left;
 background-size:700px;
 background-repeat: no-repeat;
 position: relative;
}
.hv {
    width: 100%;
    height: auto;
}
.inp-box{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin: 25px 0px;
    
}
.inp-box img{
    width: 20px;
    height: 20px;
}
.inp-box input{
    padding: 10px 20px;
    width: 90%;
    background: none;
    outline: none;
    border: 0;
  
}
.inp-box input:focus{
    outline: none;
    background-color: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.login-logo-img{
    margin-top: -80px;
}
.active-log{
    background-color:transparent;
    border-bottom: 2px solid #f7b31c;
   
}
.signins{
    display:none ;
}
.logins{
    display: block;
}
#signbtn{
    cursor: pointer;
    text-decoration: none;
    color: #f7b31c;
}
.s-text{
    font-size: 30px;
    font-weight: 500;
}
.loginBtn{
    cursor: pointer;
    text-decoration: none;
    color: #f7b31c;   
}