@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

.menus-main {
    width: 100%;
    height: 100vh;
}



.menus-top {
    width: 100%;
    height: 40vh;
    background-color: black;
    position: relative;
}

.menus-bg {
    width: 100%;
    height: 100%;
    background-image: url(../images/sdg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.menu-top-head {
    font-family: 'Rancho', cursive;
    text-align: left;
}

.menu-top-head h2 {
    font-size: 40px;
}

.menu-top-head h1 {
    font-size: 70px;
}

.list-bar {
    width: 100%;
    height: 71px;
    margin: 25px auto !important;
    background: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(174, 171, 171, 0.25);
    border-radius: 10px;
}

.lis-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    line-height: 71px;
}

.lis-menu li {
    cursor: pointer;
    width: 100%;
    height: 71px;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #F7B31C; */
    box-shadow: inset 0px 4px 4px rgba(228, 228, 228, 0.25);
    border-radius: 10px;
}

.men-list:hover,
.planstrail-act {
    width: 100%;
    height: 71px;
    background: #F7B31C;
    box-shadow: inset 0px 4px 4px rgba(228, 228, 228, 0.25);
    border-radius: 10px;
}

.menu-container {
    margin: 20px 0px !important;
    display: flex;
    align-items: center;


}

.card-menu {
    width: 263px;
    height: 274px;
    background: #47485E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    color: #fff;
    margin-top: 120px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    position: relative;

}

.card-menu-img {
    margin-top: -180px;
}

.menu-text-head {
    color: #fff;
    font-size: 24px;

}

.sec-menu-text {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec-menu-text span {
    margin: 0px 5px;
}

.right-ar {
    padding: 5px;
    border-radius: 100%;
    margin-top: 450px;
}


.left-arr {
    padding: 5px;
    margin-top: 450px;
    margin-right: -1450px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.left-ar {
    transform: rotate(180deg);
}

.add-btn img {
    right: 10px;
    position: absolute;
}

#lunch {
    display: none;
}

#dinner {
    display: none;
}

.menu-content-banner {
    width: 100%;
    height: 60vh;
    position: relative;
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFE180;
}

.banne {
    background-image: url(../images/fnv.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.banner-con h2 {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.videos {
    width: 100%;
    height: 70vh;
    margin-top: 70px;
    margin-bottom: 170px;
    position: relative;
}

.fullscreen-video {
    overflow: hidden;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;

}