@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

.plans {
    height: 40vh;
    background: url(../images/plans-top.png);
    height: 40vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plans h2 {
    font-family: 'Rancho', cursive;
    font-size: 80px;
}

.plans-container {
    height: auto;
    position: relative;
}

.plans-t {
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.plans-box {
    width: 80%;
    height: 407px;
    background: #F6F6F6;
    border: 1px solid #E8E8E8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    position: relative;
}

.plans-box:hover {
    box-shadow: 1px 1px 15px #F7B31C;
    padding: 10px;
}

.plan-toggle {
    width: 100%;
    height: 58px;
    background: #F6F6F6;
    border: 1px solid #FFFFFF;
    box-shadow: 0px -1px 4px rgba(175, 164, 164, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    display: flex;
    align-items: center;

}

.dogule-btn {
    width: 179px;
    height: 41px;
    background: transparent;
    border-radius: 22px;
    margin-top: -4px !important;
    margin-left: 3px;
    margin-right: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

}

.dogule-btn:hover,
.act-dogule {
    background-color: #F7B31C;
}

.cancel {
    background-color: red;
    padding: 5px;
    border-radius: 100%;
}

.dick {
    background-color: green;
    padding: 5px;
    border-radius: 100%;
}

.card-btn {
    width: 176px;
    height: 48px;
    background: #f7b31c;
    box-shadow: 0px 4px 4px rgba(154, 150, 150, 0.25);
    border-radius: 10px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    /* margin-left: 70px; */
    cursor: pointer;
    position: relative;
}

.card-btn span {
    position: absolute;
    width: 176px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(154, 150, 150, 0.25);
    border-radius: 10px;
    border: 1px solid #47485E;
    outline: none;
    transform: rotate(-2deg);
}

.card-btn:hover {
    background: transparent;
    border: 1px solid #47485E;
}

.card-btn span:hover {
    background: #f7b31c;
    border: none;
}

.plans-textsd {
    font-size: 25px;
    font-weight: 500;
}

.packs {
    
position: absolute;
top: 10px;
right: 0;
}

