@media screen and (max-width:1000px) {
    .home {
        display: none;

    }

    .mob-content {
        width: 100%;
        height: auto;
        padding: 20px 0px;
        display: block;
    }

    .main-content {
        width: 100%;
        height: 100%;
    }

    .main-text{
        font-size: 20px;
    }

    .mob-works {
        display: block;
    }

    .how-its-works {
        display: none;
    }

    .mob-row {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mob-img img {
        width: 200px;
    }

    .sdk {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .part-2 {
        padding: 0px 0px;

    }

    .numbers {
        font-size: 30px;
        font-weight: 500;
        color: #FFE7AA;

    }

    .part-2 h2 {
        font-size: 17px;
    }

    .part-2 p {
        font-size: 10px;
    }

    .mob-sec-titl {
        font-size: 23px;
    }

    .ones img {
        width: 20px;
    }

    .ones h6 {
        font-size: 12px;
    }

    .ones p span {
        font-size: 10px;

    }

    .cfg img {
        width: 400px;
    }

    .benefits-change-mob {
        display: block !important;
    }

    .benefits-change {
        display: none;
    }

    .sdfg {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menus {
        height: 100vh;
    }

    .change-menu {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        align-items: center;
        justify-content: center;

    }

    .menu-carousel {
        display: none;
    }

    .mob-menu-carousel {
        display: block !important;
    }

    #carousel-slider2 {
        display: flex;

    }
    .right-content{
        float: left !important;
    }
    .main-content {
        background-image: none;
        background-size: cover;
        margin-top: -20px;
        background-position: left;
        width: 100%;
        height: 60vh;
    }
    .sect{
        font-size: 30px;
    }
    .section-title{
        font-size: 30px;
    }
    .menu-bg{
        background-image: url(../images/ram.jpg);
        width: 100%;
        height: 45vh;
        object-fit: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-top: -16px;
    }
   .playstore-img{
    width: 150px!important;
    height: 150px;
   }
   .playstore{
    width: 150px!important;
    height: 150px !important;
   }
    .app-texts{
        width: 100%;
        font-size: 18px;
    }

    /* .cart-home{
        display: none;
    } */
    .under{

        display: block;
    }
    .fullscreen-video {
        overflow: hidden;
        width: 100% !important;
        height: 100%;
       
    }
    .menus-bg {
        width: 100% !important;
        height: 100%;
        background-image: url(../images/sdg.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        
    }
    .menu-top-head h2{
        font-size: 30px;
    }
    .videos {
        width: 100%;
        height: 20vh;
        margin-top: 70px;
        margin-bottom:0px;
        position: relative;
    }
   
    /* .banner-mob-img{
        display: none !important;
    } */
    .banne{
        background-image: none !important;
    }
    .mob-div-slide{
        width: 100%;
        overflow: hidden;
    }
    .banner-con h2 {
        margin-top: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    .login{
        background-image: none !important;
    }
    .pric-text {
        font-weight: 400;
        font-size: 18px !important;
      }
    .form-con{
        background-image: none !important;
    }
    .f-inp{
        flex-direction: column;
    }
    .f-one{
        width: 100% !important;
    }
    .f-two{
        width: 100% !important;
    }

/* --plans page responsive */

}

