{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap-css -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <!-- bootstrap-css -->
    <title>Foodon</title>
</head>
<body>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="{% static 'images/new-images/foodonlogos.png' %}" alt="logo">
                </div>
                <div class="col">
                    <div class="foot-list">
                        <h6>Quick Links</h6>
                        <ul class="foot-link">
                            <li><a href="/">Home</a></li>
                            <li><a href="/menus">Menu</a></li>
                            <li><a href="/plans">Plans</a></li>
                            <li><a href="/cart">Cart</a></li>
                            <li><a href="#">Contact Us</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="foot-list">
                        <h6>Contact us</h6>
                        <ul class="foot-link">
                            <li><a href="#">Terms and conditions </a></li>
                            <li><a href="#">Support@foodon.in</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col">
                    <div class="foot-list">
                        <h6>Subscribe</h6>
                        <ul class="foot-link">
                            <li>
                                Receive the latest offers and
                                <br>notifications via email

                            </li>
                            <form action="" class="footer-form">
                                <input type="text" name="" id="" placeholder="Enter Email">
                                <button type="submit" class="btn-style mt-3">
                                    <span>Submit</span>
                                </button>
                            </form>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="text-white">
            <p class="text-white text-center">© 2023 foodon. All Rights Reserved</p>

        </div>

    </footer>

    <!-- script start -->
    <script src="{% static 'js/home.js' %}"></script>
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    <script src="{%static 'js/bootstrap.bundle.js'%}"></script>
    <!-- script end -->
</body>
</html>