{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap-css -->
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <link rel="stylesheet" href="{% static 'css/menus.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/plans.css' %}">
    <!-- bootstrap-css -->
    <!-- carousel slider css -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css" />
    <!-- carousel slider css -->
    <!-- animation start -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <!-- animation end -->

    <title>FoodOn</title>
</head>

<body>
    <div class="desktop-home">
        <div class="menus-main">
            <!-- nav-start -->
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/"><img src="{% static 'images/logofoodon.png' %}" alt="logo"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link " aria-current="page" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/menus">Menus</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/plans">Plans</a>
                            </li>
                        </ul>
                        <div class="icon navbar-mr">
                            <ul class="d-flex align-items-center">
                                <li class="nav-item">
                                    <a class="nav-link" href="/login"><img src="{% static 'images/usee.svg' %}"
                                            alt="user" class="soc-icon"></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/cart"><img src="{% static 'images/cart.svg' %}"
                                            alt="user" class="soc-icon"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- nav-end -->


            <!-- menus start -->
            <div class="menus-top">
                <div class="menus-bg">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5"></div>
                            <div class=" col-sm-12 col-md-6">
                                <div class="menu-top-head  ">
                                    <h2>Feel closer <span class="text-bg">to home</span> South Indian <br>
                                        Meals , wherever you are</h2>
                                    <h1 class="text-bg">Our Menus</h1>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <h2 class="m-text">Menu That Always Makes <br>
                        You Fall <span class="text-bg">In Love</span>
                    </h2>

                    <div class="list-bar">
                        <ul class="lis-menu">
                            <li class="men-list planstrail-act" id="breakfast-btn">Break fast</li>
                            <li class="men-list" id="lunch-btn">Lunch</li>
                            <li class="men-list" id="dinner-btn">Dinner</li>
                        </ul>
                    </div>

                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class=" col-sm-12 col-md-8">
                            <div class="menu-container">
                                <!-- menu-slider start -->
                                <label for="select-all">Select All
                                    <input type="checkbox" name="" id="select-all">
                                    <div id="carouselExampleInterval" class="carousel slide mob-div-slide"
                                        data-bs-ride="carousel">
                                        <div class="carousel-inner" id="breakfast">
                                            <div class="carousel-item  active" data-bs-interval="10000">
                                                <div class="d-flex align-items-center">
                                                    <div class="card-menu">
                                                        <div class="card-menu-img">
                                                            <img src="{% static 'images/allo.png' %}" alt="allo">
                                                        </div>
                                                        <h3 class="menu-text-head">Soft Itily</h3>
                                                        <div class="sec-menu-text">
                                                            <span>Sambar Chutney </span>
                                                            <span class="text-bg">Monday</span>
                                                        </div>
                                                        <span class="fs-4">Price : <span class="text-bg"> ₹ 40</span>
                                                        </span>
                                                        <a href=""><span class="add-btn"><img
                                                                    src="{% static 'images/add-btn.png' %}"
                                                                    alt="add"></span></a>

                                                    </div>
                                                    <div class="card-menu">
                                                        <div class="card-menu-img">
                                                            <img src="{% static 'images/allo.png' %}" alt="allo">
                                                        </div>
                                                        <h3 class="menu-text-head">Soft Itily</h3>
                                                        <div class="sec-menu-text">
                                                            <span>Sambar Chutney </span>
                                                            <span class="text-bg">Monday</span>
                                                        </div>
                                                        <span class="fs-4">Price : <span class="text-bg"> ₹ 40</span>
                                                        </span>
                                                        <a href=""><span class="add-btn"><img
                                                                    src="{% static 'images/add-btn.png' %}"
                                                                    alt="add"></span></a>

                                                    </div>
                                                    <div class="card-menu">
                                                        <div class="card-menu-img">
                                                            <img src="{% static 'images/allo.png' %}" alt="allo">
                                                        </div>
                                                        <h3 class="menu-text-head">Soft Itily</h3>
                                                        <div class="sec-menu-text">
                                                            <span>Sambar Chutney </span>
                                                            <span class="text-bg">Monday</span>
                                                        </div>
                                                        <span class="fs-4">Price : <span class="text-bg"> ₹ 40</span>
                                                        </span>
                                                        <a href=""><span class="add-btn"><img
                                                                    src="{% static 'images/add-btn.png' %}"
                                                                    alt="add"></span></a>

                                                    </div>

                                                </div>
                                            </div>
                                            <div class="carousel-item" data-bs-interval="2000">
                                                <div class="d-flex align-items-center">
                                                    <div class="card-menu">
                                                        <div class="card-menu-img">
                                                            <img src="{% static 'images/allo.png' %}" alt="allo">
                                                        </div>
                                                        <h3 class="menu-text-head">Soft Itily</h3>
                                                        <div class="sec-menu-text">
                                                            <span>Sambar Chutney </span>
                                                            <span class="text-bg">Monday</span>
                                                        </div>
                                                        <span class="fs-4">Price : <span class="text-bg"> ₹ 40</span>
                                                        </span>
                                                        <a href=""><span class="add-btn"><img
                                                                    src="{% static 'images/add-btn.png' %}"
                                                                    alt="add"></span></a>

                                                    </div>
                                                    <div class="card-menu">
                                                        <div class="card-menu-img">
                                                            <img src="{% static 'images/allo.png' %}" alt="allo">
                                                        </div>
                                                        <h3 class="menu-text-head">Soft Itily</h3>
                                                        <div class="sec-menu-text">
                                                            <span>Sambar Chutney </span>
                                                            <span class="text-bg">Monday</span>
                                                        </div>
                                                        <span class="fs-4">Price : <span class="text-bg"> ₹ 40</span>
                                                        </span>
                                                        <a href=""><span class="add-btn"><img
                                                                    src="{% static 'images/add-btn.png' %}"
                                                                    alt="add"></span></a>

                                                    </div>
                                                    <div class="card-menu">
                                                        <div class="card-menu-img">
                                                            <img src="{% static 'images/allo.png' %}" alt="allo">
                                                        </div>
                                                        <h3 class="menu-text-head">Soft Itily</h3>
                                                        <div class="sec-menu-text">
                                                            <span>Sambar Chutney </span>
                                                            <span class="text-bg">Monday</span>
                                                        </div>
                                                        <span class="fs-4">Price : <span class="text-bg"> ₹ 40</span>
                                                        </span>
                                                        <a href=""><span class="add-btn"><img
                                                                    src="{% static 'images/add-btn.png' %}"
                                                                    alt="add"></span></a>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="d-flex align-items-center">
                                                    <div class="card-menu">
                                                        <div class="card-menu-img">
                                                            <img src="{% static 'images/allo.png' %}" alt="allo">
                                                        </div>
                                                        <h3 class="menu-text-head">Soft Itily</h3>
                                                        <div class="sec-menu-text">
                                                            <span>Sambar Chutney </span>
                                                            <span class="text-bg">Monday</span>
                                                        </div>
                                                        <span class="fs-4">Price : <span class="text-bg"> ₹ 40</span>
                                                        </span>
                                                        <a href=""><span class="add-btn"><img
                                                                    src="{% static 'images/add-btn.png' %}"
                                                                    alt="add"></span></a>

                                                    </div>
                                                    <div class="card-menu">
                                                        <div class="card-menu-img">
                                                            <img src="{% static 'images/allo.png' %}" alt="allo">
                                                        </div>
                                                        <h3 class="menu-text-head">Soft Itily</h3>
                                                        <div class="sec-menu-text">
                                                            <span>Sambar Chutney </span>
                                                            <span class="text-bg">Monday</span>
                                                        </div>
                                                        <span class="fs-4">Price : <span class="text-bg"> ₹ 40</span>
                                                        </span>
                                                        <a href=""><span class="add-btn"><img
                                                                    src="{% static 'images/add-btn.png' %}"
                                                                    alt="add"></span></a>

                                                    </div>
                                                    <div class="card-menu">
                                                        <div class="card-menu-img">
                                                            <img src="{% static 'images/allo.png' %}" alt="allo">
                                                        </div>
                                                        <h3 class="menu-text-head">Soft Itily</h3>
                                                        <div class="sec-menu-text">
                                                            <span>Sambar Chutney </span>
                                                            <span class="text-bg">Monday</span>
                                                        </div>
                                                        <span class="fs-4">Price : <span class="text-bg"> ₹ 40</span>
                                                        </span>
                                                        <a href=""><span class="add-btn"><img
                                                                    src="{% static 'images/add-btn.png' %}"
                                                                    alt="add"></span></a>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="carousel-inner" id="lunch">
                                            <div class="carousel-item  active" data-bs-interval="10000">
                                                <div class="d-flex align-items-center">
                                                    <div class="card-menu">
                                                        <div class="card-menu-img">
                                                            <img src="{% static 'images/allo.png' %}" alt="allo">
                                                        </div>
                                                        <h3 class="menu-text-head">Full Meal</h3>
                                                        <div class="sec-menu-text">
                                                            <span>Sambar Chutney </span>
                                                            <span class="text-bg">Monday</span>
                                                        </div>
                                                        <span class="fs-4">Price : <span class="text-bg"> ₹ 40</span>
                                                        </span>
                                                        <a href=""><span class="add-btn"><img
                                                                    src="{% static 'images/add-btn.png' %}"
                                                                    alt="add"></span></a>

                                                    </div>
                                                    <div class="card-menu">
                                                        <div class="card-menu-img">
                                                            <img src="{% static 'images/allo.png' %}" alt="allo">
                                                        </div>
                                                        <h3 class="menu-text-head">Soft Itily</h3>
                                                        <div class="sec-menu-text">
                                                            <span>Sambar Chutney </span>
                                                            <span class="text-bg">Monday</span>
                                                        </div>
                                                        <span class="fs-4">Price : <span class="text-bg"> ₹ 40</span>
                                                        </span>
                                                        <a href=""><span class="add-btn"><img
                                                                    src="{% static 'images/add-btn.png' %}"
                                                                    alt="add"></span></a>

                                                    </div>
                                                    <div class="card-menu">
                                                        <div class="card-menu-img">
                                                            <img src="{% static 'images/allo.png' %}" alt="allo">
                                                        </div>
                                                        <h3 class="menu-text-head">Soft Itily</h3>
                                                        <div class="sec-menu-text">
                                                            <span>Sambar Chutney </span>
                                                            <span class="text-bg">Monday</span>
                                                        </div>
                                                        <span class="fs-4">Price : <span class="text-bg"> ₹ 40</span>
                                                        </span>
                                                        <a href=""><span class="add-btn"><img
                                                                    src="{% static 'images/add-btn.png' %}"
                                                                    alt="add"></span></a>

                                                    </div>

                                                </div>
                                            </div>
                                            <div class="carousel-item" data-bs-interval="2000">
                                                <div class="d-flex align-items-center">
                                                    <div class="card-menu">
                                                        <div class="card-menu-img">
                                                            <img src="{% static 'images/allo.png' %}" alt="allo">
                                                        </div>
                                                        <h3 class="menu-text-head">Soft Itily</h3>
                                                        <div class="sec-menu-text">
                                                            <span>Sambar Chutney </span>
                                                            <span class="text-bg">Monday</span>
                                                        </div>
                                                        <span class="fs-4">Price : <span class="text-bg"> ₹ 40</span>
                                                        </span>
                                                        <a href=""><span class="add-btn"><img
                                                                    src="{% static 'images/add-btn.png' %}"
                                                                    alt="add"></span></a>

                                                    </div>
                                                    <div class="card-menu">
                                                        <div class="card-menu-img">
                                                            <img src="{% static 'images/allo.png' %}" alt="allo">
                                                        </div>
                                                        <h3 class="menu-text-head">Soft Itily</h3>
                                                        <div class="sec-menu-text">
                                                            <span>Sambar Chutney </span>
                                                            <span class="text-bg">Monday</span>
                                                        </div>
                                                        <span class="fs-4">Price : <span class="text-bg"> ₹ 40</span>
                                                        </span>
                                                        <a href=""><span class="add-btn"><img
                                                                    src="{% static 'images/add-btn.png' %}"
                                                                    alt="add"></span></a>

                                                    </div>
                                                    <div class="card-menu">
                                                        <div class="card-menu-img">
                                                            <img src="{% static 'images/allo.png' %}" alt="allo">
                                                        </div>
                                                        <h3 class="menu-text-head">Soft Itily</h3>
                                                        <div class="sec-menu-text">
                                                            <span>Sambar Chutney </span>
                                                            <span class="text-bg">Monday</span>
                                                        </div>
                                                        <span class="fs-4">Price : <span class="text-bg"> ₹ 40</span>
                                                        </span>
                                                        <a href=""><span class="add-btn"><img
                                                                    src="{% static 'images/add-btn.png' %}"
                                                                    alt="add"></span></a>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="d-flex align-items-center">
                                                    <div class="card-menu">
                                                        <div class="card-menu-img">
                                                            <img src="{% static 'images/allo.png' %}" alt="allo">
                                                        </div>
                                                        <h3 class="menu-text-head">Soft Itily</h3>
                                                        <div class="sec-menu-text">
                                                            <span>Sambar Chutney </span>
                                                            <span class="text-bg">Monday</span>
                                                        </div>
                                                        <span class="fs-4">Price : <span class="text-bg"> ₹ 40</span>
                                                        </span>
                                                        <a href=""><span class="add-btn"><img
                                                                    src="{% static 'images/add-btn.png' %}"
                                                                    alt="add"></span></a>

                                                    </div>
                                                    <div class="card-menu">
                                                        <div class="card-menu-img">
                                                            <img src="{% static 'images/allo.png' %}" alt="allo">
                                                        </div>
                                                        <h3 class="menu-text-head">Soft Itily</h3>
                                                        <div class="sec-menu-text">
                                                            <span>Sambar Chutney </span>
                                                            <span class="text-bg">Monday</span>
                                                        </div>
                                                        <span class="fs-4">Price : <span class="text-bg"> ₹ 40</span>
                                                        </span>
                                                        <a href=""><span class="add-btn"><img
                                                                    src="{% static 'images/add-btn.png' %}"
                                                                    alt="add"></span></a>

                                                    </div>
                                                    <div class="card-menu">
                                                        <div class="card-menu-img">
                                                            <img src="{% static 'images/allo.png' %}" alt="allo">
                                                        </div>
                                                        <h3 class="menu-text-head">Soft Itily</h3>
                                                        <div class="sec-menu-text">
                                                            <span>Sambar Chutney </span>
                                                            <span class="text-bg">Monday</span>
                                                        </div>
                                                        <span class="fs-4">Price : <span class="text-bg"> ₹ 40</span>
                                                        </span>
                                                        <a href=""><span class="add-btn"><img
                                                                    src="{% static 'images/add-btn.png' %}"
                                                                    alt="add"></span></a>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="carousel-inner" id="dinner">
                                            <div class="carousel-item  active" data-bs-interval="10000">
                                                <div class="d-flex align-items-center">
                                                    <div class="card-menu">
                                                        <div class="card-menu-img">
                                                            <img src="{% static 'images/allo.png' %}" alt="allo">
                                                        </div>
                                                        <h3 class="menu-text-head">Soft Itily</h3>
                                                        <div class="sec-menu-text">
                                                            <span>Sambar Chutney </span>
                                                            <span class="text-bg">Monday</span>
                                                        </div>
                                                        <span class="fs-4">Price : <span class="text-bg"> ₹ 40</span>
                                                        </span>
                                                        <a href=""><span class="add-btn"><img
                                                                    src="{% static 'images/add-btn.png' %}"
                                                                    alt="add"></span></a>

                                                    </div>
                                                    <div class="card-menu">
                                                        <div class="card-menu-img">
                                                            <img src="{% static 'images/allo.png' %}" alt="allo">
                                                        </div>
                                                        <h3 class="menu-text-head">Soft Itily</h3>
                                                        <div class="sec-menu-text">
                                                            <span>Sambar Chutney </span>
                                                            <span class="text-bg">Monday</span>
                                                        </div>
                                                        <span class="fs-4">Price : <span class="text-bg"> ₹ 40</span>
                                                        </span>
                                                        <a href=""><span class="add-btn"><img
                                                                    src="{% static 'images/add-btn.png' %}"
                                                                    alt="add"></span></a>

                                                    </div>
                                                    <div class="card-menu">
                                                        <div class="card-menu-img">
                                                            <img src="{% static 'images/allo.png' %}" alt="allo">
                                                        </div>
                                                        <h3 class="menu-text-head">Soft Itily</h3>
                                                        <div class="sec-menu-text">
                                                            <span>Sambar Chutney </span>
                                                            <span class="text-bg">Monday</span>
                                                        </div>
                                                        <span class="fs-4">Price : <span class="text-bg"> ₹ 40</span>
                                                        </span>
                                                        <a href=""><span class="add-btn"><img
                                                                    src="{% static 'images/add-btn.png' %}"
                                                                    alt="add"></span></a>

                                                    </div>

                                                </div>
                                            </div>
                                            <div class="carousel-item" data-bs-interval="2000">
                                                <div class="d-flex align-items-center">
                                                    <div class="card-menu">
                                                        <div class="card-menu-img">
                                                            <img src="{% static 'images/allo.png' %}" alt="allo">
                                                        </div>
                                                        <h3 class="menu-text-head">Soft Itily</h3>
                                                        <div class="sec-menu-text">
                                                            <span>Sambar Chutney </span>
                                                            <span class="text-bg">Monday</span>
                                                        </div>
                                                        <span class="fs-4">Price : <span class="text-bg"> ₹ 40</span>
                                                        </span>
                                                        <a href=""><span class="add-btn"><img
                                                                    src="{% static 'images/add-btn.png' %}"
                                                                    alt="add"></span></a>

                                                    </div>
                                                    <div class="card-menu">
                                                        <div class="card-menu-img">
                                                            <img src="{% static 'images/allo.png' %}" alt="allo">
                                                        </div>
                                                        <h3 class="menu-text-head">Soft Itily</h3>
                                                        <div class="sec-menu-text">
                                                            <span>Sambar Chutney </span>
                                                            <span class="text-bg">Monday</span>
                                                        </div>
                                                        <span class="fs-4">Price : <span class="text-bg"> ₹ 40</span>
                                                        </span>
                                                        <a href=""><span class="add-btn"><img
                                                                    src="{% static 'images/add-btn.png' %}"
                                                                    alt="add"></span></a>

                                                    </div>
                                                    <div class="card-menu">
                                                        <div class="card-menu-img">
                                                            <img src="{% static 'images/allo.png' %}" alt="allo">
                                                        </div>
                                                        <h3 class="menu-text-head">Soft Itily</h3>
                                                        <div class="sec-menu-text">
                                                            <span>Sambar Chutney </span>
                                                            <span class="text-bg">Monday</span>
                                                        </div>
                                                        <span class="fs-4">Price : <span class="text-bg"> ₹ 40</span>
                                                        </span>
                                                        <a href=""><span class="add-btn"><img
                                                                    src="{% static 'images/add-btn.png' %}"
                                                                    alt="add"></span></a>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="d-flex align-items-center">
                                                    <div class="card-menu">
                                                        <div class="card-menu-img">
                                                            <img src="{% static 'images/allo.png' %}" alt="allo">
                                                        </div>
                                                        <h3 class="menu-text-head">Soft Itily</h3>
                                                        <div class="sec-menu-text">
                                                            <span>Sambar Chutney </span>
                                                            <span class="text-bg">Monday</span>
                                                        </div>
                                                        <span class="fs-4">Price : <span class="text-bg"> ₹ 40</span>
                                                        </span>
                                                        <a href=""><span class="add-btn"><img
                                                                    src="{% static 'images/add-btn.png' %}"
                                                                    alt="add"></span></a>

                                                    </div>
                                                    <div class="card-menu">
                                                        <div class="card-menu-img">
                                                            <img src="{% static 'images/allo.png' %}" alt="allo">
                                                        </div>
                                                        <h3 class="menu-text-head">Soft Itily</h3>
                                                        <div class="sec-menu-text">
                                                            <span>Sambar Chutney </span>
                                                            <span class="text-bg">Monday</span>
                                                        </div>
                                                        <span class="fs-4">Price : <span class="text-bg"> ₹ 40</span>
                                                        </span>
                                                        <a href=""><span class="add-btn"><img
                                                                    src="{% static 'images/add-btn.png' %}"
                                                                    alt="add"></span></a>

                                                    </div>
                                                    <div class="card-menu">
                                                        <div class="card-menu-img">
                                                            <img src="{% static 'images/allo.png' %}" alt="allo">
                                                        </div>
                                                        <h3 class="menu-text-head">Soft Itily</h3>
                                                        <div class="sec-menu-text">
                                                            <span>Sambar Chutney </span>
                                                            <span class="text-bg">Monday</span>
                                                        </div>
                                                        <span class="fs-4">Price : <span class="text-bg"> ₹ 40</span>
                                                        </span>
                                                        <a href=""><span class="add-btn"><img
                                                                    src="{% static 'images/add-btn.png' %}"
                                                                    alt="add"></span></a>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- cehck -->
                                        <button class="carousel-control-prev" type="button"
                                            data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                                            <span class="left-arr">
                                                <img src="{% static 'images/next-btn.png' %}" alt="arrow"
                                                    class="left-ar">
                                            </span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button"
                                            data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                                            <span class="right-ar">
                                                <img src="{% static 'images/next-btn.png' %}" alt="arrow">
                                            </span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>
                                </label>
                                <!-- menu-slider end -->
                            </div>
                            <center>
                                <button type="submit" onclick="location.href='/plans'" class="btn-style mt-3">
                                    <span>Order Now</span>
                                </button>
                            </center>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="videos">
                                <video class="fullscreen-video" id="myVideo" autoplay="autoplay" muted loop>
                                    <source src="{% static 'images/adsf.mp4' %}">
                                    Your browser does not support the video tag.
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-content-banner">
                    <div class="banne">
                        <div class="container">
                            <div class="row">
                                <div class=".col-sm-12 col-md-5">
                                    <div class="banner-con">
                                        <h2>Home cooked food is often made with a variety of spices to enhance its
                                            flavor and Spices can also add health benefits to your meals.</h2>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <img src="{% static 'images/thaniya.png' %}" alt="thaniya"
                                        class="img-fluid banner-mob-img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <footer class="footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-2">
                                <img src="{% static 'images/new-images/foodonlogos.png' %}" alt="logo" class="logo-mob">
                            </div>
                            <div class="col-sm-6 col-md-2">
                                <div class="foot-list">
                                    <ul class="foot-link">
                                        <h6>Quick Links</h6>
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/menus">Menu</a></li>
                                        <li><a href="/plans">Plans</a></li>
                                        <li><a href="/cart">Cart</a></li>
                                        <li><a href="/login">Contact Us</a></li>

                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-2">
                                <div class="foot-list">
                                    <ul class="foot-link">
                                        <h6>Contact us</h6>
                                        <li><a href="#">Terms and conditions </a></li>
                                        <li><a href="#">Support@foodon.in</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-sm-12 col-md-4">
                                <div class="foot-list">
                                    <ul class="foot-link">
                                        <h6>Subscribe</h6>
                                        <li>
                                            Receive the latest offers and
                                            <br>notifications via email

                                        </li>
                                        <form action="" class="footer-form">
                                            <input type="text" name="" id="" placeholder="Enter Email">
                                            <button type="submit" class="btn-style mt-3">
                                                <span>Submit</span>
                                            </button>
                                        </form>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <hr class="text-white">
                        <p class="text-white text-center">© 2023 foodon. All Rights Reserved</p>

                    </div>

                </footer>
            </div>
            <!-- menus end -->
        </div>
        <!-- footer start -->

        <!-- footer end -->




        <!-- script start -->
        <script src="{% static 'js/home.js' %}"></script>
        <script src="{%static 'js/bootstrap.min.js'%}"></script>
        <script src="{%static 'js/bootstrap.bundle.js'%}"></script>
        <!-- script end -->

        <!-- carousel slider script -->
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <!-- carousel slider script -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js">
        </script>

        <!-- carousel slider function -->
        <script>
            function reveal() {
                var reveals = document.querySelectorAll(".reveal");

                for (var i = 0; i < reveals.length; i++) {
                    var windowHeight = window.innerHeight;
                    var elementTop = reveals[i].getBoundingClientRect().top;
                    var elementVisible = 150;

                    if (elementTop < windowHeight - elementVisible) {
                        reveals[i].classList.add("active");
                    } else {
                        reveals[i].classList.remove("active");
                    }
                }
            }

            window.addEventListener("scroll", reveal);
        </script>
        <!--  -->
        <script>
            $("#carousel-slider").slick({
                arrows: false,
                infinite: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2500,
                mobileFirst: true
            });
        </script>
        <script>
            $("#carousel-slider1").slick({
                arrows: false,
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2500,
                mobileFirst: true
            });
        </script>
        <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"></script>
        <!-- carousel slider function -->
        <script>
            const planstrail = document.querySelectorAll(".men-list");
            if (planstrail.length) {
                planstrail.forEach((link) => {
                    link.addEventListener("click", () => {
                        planstrail.forEach((link) => {
                            link.classList.remove("planstrail-act");
                        });
                        preventDefault();
                        link.classList.add("planstrail-act");
                    });
                });
            }
        </script>

        <!-- breakfast-show start -->
        <script>
            var breakFast = document.getElementById('breakfast')
            var lunch = document.getElementById('lunch')
            var dinner = document.getElementById('dinner')
            var breakBtn = document.getElementById('breakfast-btn')
            var lunchBtn = document.getElementById('lunch-btn')
            var dinnerBtn = document.getElementById('dinner-btn')

            breakBtn.addEventListener('click', () => {
                breakFast.style.display = 'block'
                lunch.style.display = 'none'
                dinner.style.display = 'none'
            })
            lunchBtn.addEventListener('click', () => {
                breakFast.style.display = 'none'
                lunch.style.display = 'block'
                dinner.style.display = 'none'
            })
            dinnerBtn.addEventListener('click', () => {
                breakFast.style.display = 'none'
                lunch.style.display = 'none'
                dinner.style.display = 'block'
            })
        </script>
        <!-- breakfast-show end -->

</body>

</html>